@{
    ViewData["Title"] = "Calificaciones";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>En esta página se podrán administrar las calificaciones de los diferentes colaboradores</p>
</div>
