@{
    ViewData["Title"] = "Modelos Evaluativos";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>En esta página se podrán administrar los diferentes modelos evaluativos</p>
</div>
