@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Sistema de gestión de los  <b>Modelos Evaluativos</b> de la compañía</p>
    <br>
    <div>
        <img src="~/images/modeloEvaluativo.jpg" alt="Imagen ejemplo" />        
    </div>
</div>
