@{
    ViewData["Title"] = "Políticas de Privacidad";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Página de políticas de privacidad de la compañía</p>
</div>
